"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "mononoki Nerd Font"
    invisibles:
      tab: "ꞏ"
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
  welcome:
    showOnStartup: false
